// COLORS

$color-primary: rgb(119, 43, 155);

$color-grey-light: #f8f8f8;
$color-grey: #ebebeb;
$color-grey-dark: #222222;

$color-black: #050505;

// MEDIA BREAK POINTS

$bp-largest: 120em; // 1920px
$bp-large: 100em; // 1600px
$bp-medium: 87.5em; // 1400px;
$bp-small: 78.5em; // 1200px;
$bp-smallest: 50em; // 800px;
$bp-tiny: 37.5em; // 600px

// FONTS

// font-family: "Open Sans", sans-serif;
// font-family: "Raleway", sans-serif;
